@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --game-canvas-width: 100%;
  --game-canvas-height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  @apply bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-100;
}

.game-canvas {
  @apply relative w-full h-full overflow-hidden;
}

